.selection-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.game-select-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#games-list {
  color: black;
  width: 200px;
}

.import-button {
  color: black;
}


option{
  color:black;
}